{% extends "base.html" %}

{% block content %}

<!-- ================= HERO SECTION ================= -->

<section class="hero">
    <div class="hero-content">

        <h1 class="title">
            <span id="typing"></span>
        </h1>

        <p class="subtitle">
            AI-powered Battery State Of Charge Prediction using Machine Learning & Deep Learning
        </p>

        <div class="project-info">

            <!--================= Developer =================-->
            <div class="card itself-card">
                <h3>Developed By</h3>
                <p class="highlight">Vinay Kumar</p>
                <p>Python Developer | AI-ML Enthusiast</p>
            </div>

            <!--================= Project Features =================-->
            <div class="card">
                <h3>Key Highlights</h3>
                <ol class="team-list">
                    <li>Real-time SoC Prediction</li>
                    <li>Supports CSV Upload</li>
                    <li>LSTM, DNN & ML Models Integration</li>
                    <li>Interactive Visualization Dashboard</li>
                </ol>
            </div>

            <!--================= Project Purpose =================-->
            <div class="card">
                <h3>Project Goal</h3>
                <p class="guide-name">
                    To develop an intelligent AI-based Battery State Of Charge prediction system
                </p>
                <p class="designation">
                    improving battery monitoring accuracy for Electric Vehicles, Robotics Systems, and Autonomous Platforms
                </p>
            </div>

        </div>

        <!--================= Buttons =================-->
        <a href="/about" class="btn">Explore Project</a>
        <a href="/prediction" class="btn">Start Prediction</a>

    </div>
</section>

{% endblock %}